.jumbotron {
    align-items: center;
    background-color: $white;
    background-image: linear-gradient(rgba($white, 0.5), rgba($white, 0.5)), url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 30vh;
    justify-content: center;
    min-height: $spacer*pxToRem(200);
    padding: $spacer;

    &__title {
        color: $jumbotron-title-color;
        font: {
            family: $headings-font-family;
            size: $font-size-base*2.5;
        }
        text-align: center;

        @include media-breakpoint-up(md) {
            font-size: $font-size-base*3.5;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-base*4.5;
        }

        &::after {
            background-color: $jumbotron-title-color;
            content: "";
            display: block;
            height: pxToRem(3)*1rem;
            margin: $spacer*pxToRem(10) auto auto;
            width: pxToRem(100)*1rem;

            @include media-breakpoint-up(xl) {
                height: pxToRem(5)*1rem;
                width: pxToRem(150)*1rem;
            }
        }
    }
}
