.footer {
    background: $gray-200;
    padding: $spacer*pxToRem(30) 0 $spacer*pxToRem(20);
    text-align: center;

    &__title {
        font-family: $headings-font-family;
        font-size: $font-size-base*pxToRem(30);
        margin-bottom: $spacer*pxToRem(15);
    }
}

.credits {
    font-size: $font-size-base*pxToRem(12);

    &__link {
        $link-color: #000099;
        color: $link-color;

        &:hover {
            color: darken($link-color, 10%)
        }
    }
}
